header {
    display: flex;
    flex-flow: row;
    background-color: #FFFFFF;
    padding: 20px 20px;
}

.headerTitle {
    font-size: 22px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    margin-left: 8px;
}

.headerLogo {
    height: 50px;
    width: 46px;
}

.header1 {
    color: #82A70C;
}

.header2 {
    color: #42515F;
}

.formContent {
    min-height: calc(100% - 80px);
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-content: center;
}

.userForm {
    background-color: #FFFFFF;
    width: 65%;
    padding: 45px 150px;
    margin: 50px 0px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
}

.formHeaderTitle {
    font-size: 28px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #42515F;
}

label {
    color: #42515F;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    flex: 1;
}

.formInput {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    flex: 3;
    /* height: 50px; */
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    font: normal normal normal 18px/24px Roboto;
    padding: 10px 10px;
}

.formRadioContent {
    flex: 3;
    display: flex;
    flex-flow: row;
}

.formCheckboxContent {
    flex: 3;
    display: flex;
    flex-flow: row;
}

.formRadioContent>span {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.formCheckboxContent>span {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.salaryContent {
    flex: 3;
    display: flex;
    align-items: center;
}

.startDateContent {
    flex: 3;
    display: flex;
    align-items: center;
}

select {
    padding: 12px 10px;
    margin-right: 25px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}

.profileImg {
    width: 40px;
    margin-left: 8px;
}

margin {
    margin-left: 40px;
}